.nowrap {
    white-space: normal;
}
.c-p {
    color: var(--ion-color-primary);
}
.c-s {
    color: var(--ion-color-secondary);
}
.c-t {
    color: var(--ion-color-tertiary);
}
.c-g {
    color: var(--ion-color-success);
}