<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Little About Developer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-item lines="none">
                    <ion-label class="nowrap">
                        <h2 class="ion-margin-botto" style="font-size: 22px;">
                            About Me:
                        </h2>
                        <p>
                            <span
                                style="font-size: 20px; letter-spacing: -3px;"
                            >
                                H
                            </span>
                            i there, my name's
                            <strong
                                class="c-p"
                                title="Ahsan Mahmood top rated freelancer and full stack developer - UserName: AONEAHSA - Email: aoneahsan@gmail.com - Contact#: 03046619706"
                            >
                                Ahsan Mahmood
                            </strong>
                            . i developed this
                            <strong class="c-s">website</strong>
                            and its
                            <strong class="c-g">hybrid mobile app</strong>
                            version while learning about ionic, i hope you will
                            like it.
                        </p>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-item>
                    <ion-img
                        src="assets/ahsan-mahmood.jpg"
                        width="100%"
                        class="image image-fuild"
                    ></ion-img>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-item lines="none">
                    <ion-label class="nowrap">
                        <h2 class="ion-margin-botto" style="font-size: 22px;">
                            About Project:
                        </h2>
                        <p class="nowrap">
                            <span
                                style="font-size: 20px; letter-spacing: -3px;"
                            >
                                I
                            </span>
                            t was really fun working with
                            <strong class="c-t">Ionic Framework</strong>
                            . there are
                            <strong class="c-g">number of features</strong>
                            in this app which you will like some of them are
                            'google maps', 'device camera', 'real time
                            location', and much more...
                        </p>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3" class="ion-text-center">
                <ion-item lines="none">
                    <ion-label class="nowrap">
                        <h2 class="ion-margin-botto" style="font-size: 22px;">
                            My Portfolio:
                        </h2>
                        <p class="nowrap">
                            <span
                                style="font-size: 20px; letter-spacing: -3px;"
                            >
                                L
                            </span>
                            ike the
                            <strong class="c-p">app</strong>
                            ? have a look at some of my other projects too.
                        </p>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-md="6" offset-md="3" class="ion-text-center">
                <ion-button
                    href="https://aoneahsan.website"
                    target="_blank"
                    color="primary"
                >
                    View My Portfolio
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3" class="ion-text-center">
                <ion-item lines="none">
                    <ion-label class="nowrap">
                        <h2 class="ion-margin-botto" style="font-size: 22px;">
                            Zaions Listing All Versions
                        </h2>
                        <p class="nowrap">
                            <span
                                style="font-size: 20px; letter-spacing: -3px;"
                            >
                                G
                            </span>
                            et all available versions of Zaions Listing app.
                            <strong class="c-s">Android APP</strong>
                            ,
                            <strong class="c-g">IOS APP</strong>
                            , and also have a look at its
                            <strong class="c-p">PWA Web APP</strong>
                            .
                        </p>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-md="6" offset-md="3" class="ion-text-center">
                <ion-button
                    href="https://listing.zaions.com"
                    target="_blank"
                    rel="nofollow"
                    color="success"
                >
                    PWA Web App
                </ion-button>
                <ion-button
                    href="https://listing.zaions.com/apps/android-app.apk"
                    target="_blank"
                    rel="nofollow"
                    color="tertiary"
                >
                    Android App
                </ion-button>
                <ion-button
                    href="https://listing.zaions.com/apps/ios-app"
                    target="_blank"
                    rel="nofollow"
                    color="danger"
                >
                    IOS App
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
